h1 {
    color: rgba(255, 251, 0, 0.849);
    font: 1em sans-serif;
    font-size: 30px;
}
h4 {
    color:darkmagenta;
    font: 1em sans;
    background-color: #110f24;
}
h6 {
    color: red;
    font: 1em sans;
    font-size: 20px;
}
li {
    color: cyan;
}
.selected {
    color: rgba(106, 192, 48, 0.651);
}
